.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-expedia-blue {
  color: #00355f;
}

.bg-dark {
  background-color: #000;
}

.bg-light {
  background-color: #fff;
}

.bg-expedia-yellow {
  background-color: #fcd12a;
}
